@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #8fffc7;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

main {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  padding-block: min(20vh, 3rem);
}

.hero {
  display: grid;
  padding: 0;
  position: relative;
}

.bg {
  position: fixed;
  top: -4rem;
  left: -12rem;
  z-index: -1;
  opacity: 0.5;
}

.bg2 {
  position: fixed;
  bottom: -1rem;
  right: -0.5rem;
  z-index: -1;
  width: 9.375rem;
  opacity: 0.5;
}

.title-gradient {
  background-color: #005baa;
  background-image: linear-gradient(45deg, #3a7869, #000000);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.hero a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}
.hero > div > a {
  border: 2px solid #c2c2c2;
  margin-top: 2.188rem;
  padding: 0.625rem 1.875rem;
}
.hero > div > a:hover {
  border: 0.125rem solid #005baa;
  color: #005baa;
}
.swiper {
  width: 100%;
  padding-top: 3.125rem;
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #ffffff !important;
}
.swiper-pagination {
  bottom: 2.5rem !important;
  left: 4rem !important;
}

.swiper-slide {
  width: 18.75rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}
.swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}
.swiper-slide-active div {
  display: block;
  opacity: 1;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

@media screen and (max-width: 763px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bg,
  .bg2 {
    opacity: 0.1;
  }
  .swiper {
    width: 85%;
  }
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08),
    0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #48aaff;
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #269aff;
}


.card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  clip-path: circle(120px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.card:after{
  content: 'oSoPanda';
  position: absolute;
  top: 80%;
  font-size:4rem;
  font-weight: 800;
  color: rgba(23, 46, 36, 0.05)
}

.card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 50%;
  height: 220px;
  transition: 0.5s;
}

.card:hover .imgBx{
  top: 20%;
  transform: translateY(0%);
}

.card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%) rotate(-5deg);
  border-radius: 5%;
  width: 270px;
}

.card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.card:hover .contentBx{
  height: 210px;
}

.card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.card .contentBx a{
  transform: translateY(50px);
  transition: 0.5s;
}

.card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}